a:link {
    color: #FF0000;
    text-decoration: none;
}

a:visited {
    color: #eb6e6a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #f2eca2;
}

a:active {
    text-decoration: underline;
    color: #f2eca2;
}

body {
    background-image: url('background1.jpg');
}